/* BLUE: #273054 */
/* RED: #F20000 */
/* LIGHT BLUE: #059BBB */
/* LIGHT GREY: #979797 */
/* BLACK: #131313 */

html, body {
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  background: #161616;
  /* fonts */

  font-family: 'Ubuntu', sans-serif;
}

.white-text {
	color: #ffffff;
}

.red-text {
	color: #BC264A;
}

/*--- navigation bar ---*/
.navbar {
  /*background:#273054;*/
  background: #161616;

}
.nav-link,
.navbar-brand {
  color: #ffffff;
  cursor: pointer;
}
.nav-link {
  /*margin-right: 1em !important;*/
}
.nav-link:hover {
  color: #273054;
  /*color: #979797;*/
}
.navbar-collapse {
  justify-content: flex-end;
}

.navbar-shadow {
  box-shadow: 0 1px 8px 5px rgba(0,0,0,.3);
}

.header {
  display: block;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
}

.masthead-content {
  display: block;
}

.masthead .masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
  color: #dddddd;
}

.masthead-subheading {
  font-size: 1.0rem;
  line-height: 1.0rem;
  color: #dddddd;
}

.bg-primary-gradient {
  background: linear-gradient(to right, #037aaa, #059BBB);
}

.logo-section {
	padding-top: 100px;
	padding-left: 60px;
}

#main-logo {
	height: auto; 
    width: auto; 
    max-width: 50%; 
    max-height: 50%;
}

#galcover {
	height: auto;
	width: auto;
	max-width: 120%; 
    max-height: 120%;
}

.what-is-ai {
	background: linear-gradient(#2575A9, #161616);
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 60px;
}

.what-is-ai-text {
	max-width: 75%;
}

.lets-dive-in {
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 60px;
}

.lets-dive-in-text {
	max-width: 75%;
}

.chugcover {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-top: 40px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.boundary {
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 60px;
}

.boundary-text {
	padding-top: 40px;
	padding-left: 20px;
	padding-bottom: 40px;
	vertical-align: middle;
}

.decision-linear {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-top: 40px;
	margin-left: 20%;
}

.decision-linear-2 {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-top: 40px;
	padding-bottom: 40px;
}

.button {
	width: 100%;
	height: 50px;
	background-color: #161616; 
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.a-little-more {
	padding-left: 60px;
}

.a-little-more-text {
	padding-top: 80px;
	padding-bottom: 80px;
}

.a-little-more-static {
	padding-top: 80px;
	padding-bottom: 80px;
}

.b-class-content {
	display: block;
	padding-left: 60px;
}

.m-class-content {
	display: block;
	padding-left: 60px;
}

.regress-content {
	display: block;
	padding-left: 60px;
}

.m-class-img-cont {
	text-align: center;
}

.m-class-img {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-left: 12%;
}

.m-class-text-cont {
	max-width: 75%;
	text-align: center;
	padding-top: 60px;
}

.play-with-it {
	padding-top: 100px;
	padding-bottom: 100px;
}

.play-with-it-text {
	padding-left: 60px;
	padding-bottom: 100px;
}

.classy-content {
	display: block;
	padding-left: 60px;
	padding-top: 60px;
}

.ip-content {
	display: block;
	padding-left: 60px;
	padding-top: 60px;
}

.regress-play-content {
	display: block;
	padding-left: 60px;
	padding-top: 60px;
}

.classy-subheader {
	padding-top: 40px;
}

.classy-img {
	display: flex;
	flex-direction: column;
	width: 75%;
	padding-top: 40px;
}

.column-reg-1 {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	flex: 1;
}

.column-reg-2 {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	flex: 3;
	padding-left: 40px;
}

.container {
	position: relative;
	text-align: center;
}

.footer-background {
	width: 100%;
}

.footer-text {

}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}

.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
  color: #2c3e50 !important;
  font-size: 2rem;
}

.divider-custom.divider-light .divider-custom-line {
  background-color: #ddd;
}

.divider-custom.divider-light .divider-custom-icon {
  color: #fff !important;
}


.page-section {
  /*background: linear-gradient(to right, #000000, #ffffff);*/
}

.page-footer {
  color: #232323;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 20px;
  background: linear-gradient(to right, #dddddd, #ffffff);
}

.centered {
	/*color: #979797;*/
	text-align: center;
	padding: 70px;
	margin: 20px;
}

.text-container {
	background-color: #979797;
	color: #131313;
	text-align: center;
	padding: 70px;
	font-size: 20px;
	margin: 20px;
  border-radius: 10px;
}

.hidden {
  display: none;
}


/* Modal loader */
.loader {
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid #059BBB; /*primary*/
  border-radius: 50%;
  border-top-color:  #037aaa; /*primary-dark*/
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}


.btn-primary {
  background-color: #059BBB;
  border-color: #059BBB;
}

.btn-primary:hover {
  background-color: white;
  color: #037aaa;
}

/** MODAL STYLING **/
.modal-content {
  border-radius: 0px;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
}

.modal-backdrop.show {
  opacity: 0.75;
}

.loader-txt {
  p {
    font-size: 13px;
    color: #666;
    small {
      font-size: 11.5px;
      color: #999;
    }
  } 
}
/* End Modal loader */


.card {
  background-color: rgba(240, 240, 240, 1);
}

.fa-primary {
  color: #059BBB;
}

#drop-icon {
  padding: 3rem;
  border-style: dotted;
  border-radius: 10px;
}

#drop-icon.drop-active {
  padding: 3rem;
  border-style: solid;
  /*background-color: #90ee90;*/
  background-color: #aaaaaa;
  /*border-color: #555555;*/
  border-radius: 10px;
}

#drop-icon.dropped {
  padding: 3rem;
  border-style: dotted;
  background-color: none;
  border-radius: 10px;
  /*border-color: #00c301;
  color:#90ee90;*/
}

input[type=range]::-webkit-slider-thumb {
    background: #059BBB;
}
input[type=range]::-moz-range-thumb {
    background: #059BBB;
}
input[type=range]::-ms-thumb {
    background: #059BBB;
}

.select-offset {
  padding-top: 78px;
}

@media (max-width: 576px) { 
  .select-offset {
    padding-top: 0px;
  }
}
